
body{
    background: #ffffff;
     width: 1440px;
     height: 1750px;
}
.headertop{
    position: absolute;
    width: 1590px;
    height: 125px;
    left: 0px;
    top: 2px;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 75.8%);
    border-bottom: 2px solid #000000;
}
.log{
    width: 250px;
    height: 125px;
    position: absolute;

}
.luxx-gala-logo{
    height: 125px;
    width:130px;
}
a{
    text-decoration: none;
    color: white;
}
.luxx-gala-name{
  
position: absolute;
width: 354px;
height: 300px;
left: 600px;
top: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.2em;

color: #000000;
}
.login{
    position: absolute;
width: 115px;
height: 45px;
left: 1231px;
top: 43px;
text-decoration: none;
background:transparent;
border-radius: 15px;
}
.login a{
left: 1231px;
top: 43px;
text-decoration: none; 
color: #000000;

}
.signup{
    position: absolute;
width: 115px;
height: 45px;
left: 1370px;
top: 43px;

background: transparent;
border-radius: 15px;
}
.signup a{
    left: 1231px;
    top: 43px;
    text-decoration: none; 
    color: #000000;
    
    }
.header-min{
    position: absolute;
    width: 1590px;
    height: 105px;
    left: 0px;
    top: 125px;
    background: linear-gradient(180deg, #d8d2d2 0%, rgba(255, 255, 255, 0) 75.8%);
    border-bottom: 2px solid #000000;
}
.link1-hotelinfo{
    
position: absolute;
width: 115px;
height: 40px;
left: 880px;
top: 35px;

background: #41B03E;
border-radius: 15px;
}
.link1-hotelinfo a{
text-decoration: NONE;
color: #ffffff;

}
.link1-service{
    
position: absolute;
width: 115px;
height: 40px;
left:1000px;
top: 35px;

background: #41B03E;
border-radius: 15px;
}
.link1-gallery{
    
position: absolute;
width: 115px;
height: 40px;
left: 1120px;
top: 35px;

background: #41B03E;
border-radius: 15px;
}
.link1-booking{
    
position: absolute;
width: 115px;
height: 40px;
left: 1240px;
top: 35px;

background: #41B03E;
border-radius: 15px;
}
.section{
    position: absolute;
    width: 1590px;
    height: 1000px;
    left: 0;
    top: 220px;
    background: linear-gradient(180deg, #797272 0%, rgba(255, 255, 255, 0) 75.8%);
    border-bottom: 2px solid #000000;
}
.body-section-1{
    position: absolute;
    width: 1590px;
    height: 950px;
    left: 0;
    top: 10px;

}
.body-section-x{
    position: absolute;
    width: 1590px;
    height: 950px;
    left: 0px;
    top: 430px;

}
.home-gala-pc1{
    position: absolute;
width: 333px;
height: 420px;
left: 14px;
top: 19px;

}
.home-gala-pc2{
    position: absolute;
width: 333px;
height: 420px;
left: 349px;
top: 19px;

}
.home-gala-pc3{
    position: absolute;
width: 333px;
height: 420px;
left: 684px;
top: 19px;

}
.home-gala-pc4{
    position: absolute;
width: 333px;
height: 420px;
left: 1019px;
top: 19px;

}
.home-gala-pc5{
    position: absolute;
width: 233px;
height: 420px;
left: 1354px;
top: 19px;

}
.bottom-section{
    position: absolute;
    width: 1590px;
    height: 500px;
    left: 0;
    color: #ffffff;
    top: 1300px;
    background-color: #000000;
}
.vef-luxx-gala{
    color: #ffffff;
    
position: absolute;
width: 160px;
height: 48px;
left: 1233px;
top: 122px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.2em;

}
.vef-luxx-gal{
    color: #ffffff;
    
position: absolute;
width: 160px;
height: 48px;
left: 33px;
top: 122px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.2em;

}
.gh{
    position: absolute;
    left: 5px;
}
.getstarted{
    position: absolute;
    top: 300px;
    left: 500px;
    width: 600px;
    height: 100px;
    color: white;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(34, 163, 34);
}
.getstarted:hover{
    background-color: white;
}
.getstarted:hover a{
   color: black;
}
.get{
    position: absolute;
    left: 50px;
    top:0;
    font-size: 35px;

}
.getstarted a{
    color: white;
}